html, body {
    font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

@media screen and (min-width: 480px) {
    h1, h5 {
        margin: 0 auto;
        width: 400px;
    }

    form {
        /* フォームをページの中央に置く */
        margin: 0 auto;
        width: 400px;
    }
}

/* スマホ用設定 */
@media screen and (max-width: 480px) {
    body {
        font-size: 4vw;
    }

    h1, h5 {
        margin: 0 auto;
        width: device-width;
    }

    form {
        /* フォームをページの中央に置く */
        margin: 0 auto;
        width: device-width;
    }
}

.vertical-align input,
.vertical-align select {
	vertical-align: middle;
}

#skill div {
    /* フォームの範囲がわかるようにする */
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#skill input {
    width: 2.5em;
    height: 1em;
    padding: auto;
    margin: .3em;
    font-size: 80%;
}

select {
    height: 1.6em;
    padding: auto;
    font-size: 80%;
}
#skill select {
    margin: .3em;
}

#appeal input {
    width: 10em;
    height: 1em;
    padding auto;
    margin: .5em;
}

form div + div {
    margin-top: .5em;
}

label {
    /* すべてのラベルを同じサイズにして、きちんと揃える */
    display: inline-block;
    text-align: left;
}

.button {
    padding-left: 5em;
}

.button input {
    width: 7em;
}
